services:
  diesel-cli:
    image: chunleng/diesel-cli:latest
    network_mode: host
    restart: no
    volumes:
      - ${MIGRATION_PATH}:/app/
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgres://postgres:password@localhost:5432}
